* {
  box-sizing: border-box;
  color: white;
  font-weight: bolder;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  text-align: center;
  word-break: break-word;
}
body {
  background-color: rgb(174, 235, 205);
}

.page {
  display: flex;
  justify-content: center;

  padding: 25px;
  gap: 25px;
}
.how-div {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
}
.main {
  flex: 3;
  gap: 10px;
  /*border: 2.5px dotted red;*/
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.top-div {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
}

.top-div,
.scores {
  min-width: 500px;
  min-height: 100px;
}
.top-div,
.how-div,
.middle-div {
  background-color: rgb(138, 222, 186);
  border-radius: 12px;
  border: 2.5px solid rgb(114, 181, 150);
}

.middle-div {
  min-width: 500px;
  aspect-ratio: 1;

  padding: 15px;
}

.game-div {
  padding: 10px;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 12px;
  gap: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  background-color: rgb(10, 60, 43);
  border: 4px solid rgb(52, 81, 73);
}
.box {
  background-color: rgb(65, 148, 128);
  border-radius: 12px;
  font-size: 30px;
}

.scores {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.scores div {
  flex: 1;
  border-radius: 8px;
  padding: 5px 12px;
  font-size: 25px;

  align-items: center;
  background-color: rgb(10, 60, 43);
}
.scores button {
  flex: 1;
  min-height: 37px;
  background-color: rgb(58, 108, 83);
  border-radius: 8px;
  padding: 5px 12px;
  outline: 0;
  border: 0;
}

.red {
  color: crimson;
}
.blue {
  color: rgb(114, 166, 202);
}
.white {
  color: white;
}
